<div class="card column is-4">
  <div class="card-image">
    <% if figure.photo.attached? %>
      <figure class="image is-4by3">
        <%= image_tag(url_for(figure.photo))%>
      </figure>
    <% end %>
  </div>

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= link_to( figure.name, figure_path(figure))%></p>
        <p class="subtitle is-6"><%= figure.brand %> - <%= figure.year %></p>
      </div>
    </div>
  </div>
</div>